a:link{
  text-decoration: none;
  color: #bbbbbb;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mukta:wght@400;500&family=Poppins:ital,wght@0,100;1,600&family=Roboto+Mono:wght@300&display=swap');